quarkus.swagger-ui.always-include=true
quarkus.swagger-ui.path=/explorer

mp.messaging.incoming.new-article-created.connector=smallrye-kafka
mp.messaging.incoming.new-article-created.value.deserializer=org.apache.kafka.common.serialization.StringDeserializer

kafka.bootstrap.servers=KAFKA_BOOTSTRAP_SERVERS

cloud-native-starter.local=CNS_LOCAL
cloud-native-starter.minikube.ip=CNS_MINIKUBE_IP
cloud-native-starter.articles.port=CNS_ARTICLES_PORT
