target
.settings
.classpath
.project
nik.txt
liberty-opentracing-zipkintracer-1.2-sample.zip
authors-nodejs/config.json
scripts/deploy-authors-nodejs.cfg
authors-nodejs/deployment/deployment.yaml
authors-nodejs/deployment/istio-egress-cloudant.yaml
.factorypath
.apt_generated
.apt_generated_tests