target
.settings
.classpath
.project
nik.txt
liberty-opentracing-zipkintracer-1.2-sample.zip
istio/istio.pptx
scripts/deploy-authors-nodejs.cfg
authors-nodejs/public/swagger-ui
authors-nodejs/config.json
authors-nodejs/deployment/deployment.yaml
authors-nodejs/deployment/istio-egress-cloudant.yaml
.factorypath
.apt_generated
.apt_generated_tests
yarn.lock
.DS_Store
node_modules
dist
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
istio-1.0.6
deploy-kiali-to-kubernetes.sh
install-minikube-mac.sh
open-monitoring*.log
deploy*.log
create*.log
trace.log
web-app-vuejs/src/components/Home.vue
istio/prometheus-config-org.yaml
istio/prometheus-config-new.yaml