cloud-native-starter-key.json
target
.settings
.classpath
.project
nik.txt
reactive/nik.txt
liberty-opentracing-zipkintracer-1.2-sample.zip
liberty-opentracing-zipkintracer-1.3-sample.zip
istio/istio.pptx
scripts/deploy-authors-nodejs.cfg
authors-nodejs/public/swagger-ui
authors-nodejs/config.json
authors-nodejs/deployment/deployment.yaml
authors-nodejs/deployment/istio-egress-cloudant.yaml
.factorypath
.apt_generated
.apt_generated_tests
yarn.lock
.DS_Store
node_modules
dist
.env.local
.env.*.local
local.env
cloud-native-starter.json
k8s-setup.sh
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
istio-1.0.6
istio-1.1.1
istio-1.1.5
deploy-kiali-to-kubernetes.sh
install-minikube-mac.sh
open-monitoring*.log
deploy*.log
create*.log
trace.log
istio/prometheus-config-org.yaml
istio/prometheus-config-new.yaml
auth-java-jee
auth-java-jee-ref
authentication-nodejs/.env
authentication-nodejs/package-lock.json
auth-nodejs2
istio/web-api.*
iks-scripts/*.log
ibm-scripts/*.log
cluster-config.sh
IKS*.yaml
web-app-vuejs/package-lock.json
web-app-vuejs/src/store.js
istio/protect-web-api.yaml
articles-java-jee/liberty-opentracing-zipkintracer
web-api-java-jee/liberty-opentracing-zipkintracer
authors-java-jee/deployment/deployment-template.yaml.2
authors-java-jee/deployment/deployment-template.yaml.1
authors-java-jee/deployment/deployment-minishift.yaml
authors-java-jee/deployment/deployment-iks.yaml
authors-java-jee/deployment/deployment-os.yaml
articles-java-jee/deployment/kubernetes-minishift.yaml

# Minishift add-ons from git clone
minishift-addons

#images
images/~$cloud-native-starter.pptx

# workshop
workshop/images/~$architecture.pptx
authors-java-jee/deployment/tekton/pipeline-run-template.yaml.1
authors-java-jee/deployment/tekton/pipeline-run-template.yaml.2
authors-java-jee/deployment/tekton/pipeline-run.yaml

reactive/articles-reactive/src/main/resources/application.properties
reactive/web-api-reactive/src/main/resources/application.properties
reactive/web-app-reactive/src/store.js
.sts4-cache

# OpenShift
reactive/articles-reactive/deployment/os4-kubernetes.yaml
reactive/web-api-reactive/deployment/os4-kubernetes.yaml
reactive/web-app-reactive/deployment/os4-kubernetes.yaml
authors-nodejs/deployment/os4-deployment.yaml
tls.crt
reactive/os4-scripts/postgres-oc.yaml


# IKS reactive
reactive/articles-reactive/deployment/IKS-kubernetes.yaml
reactive/web-api-reactive/deployment/IKS-kubernetes.yaml
reactive/web-app-reactive/deployment/IKS-kubernetes.yaml
authors-nodejs/deployment/IKS-deployment.yaml

reactive/iks-scripts/show-urls.log
reactive/iks-scripts/cleanup.log

reactive/articles-reactive/run-java.sh

# Security
mysecret.yaml