<?xml version="1.0" encoding="UTF-8"?>
<server description="OpenLiberty Server">
	
    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>microProfile-2.1</feature>
        <feature>usr:opentracingZipkin-0.31</feature>    
        <feature>monitor-1.0</feature> 
        <feature>mpJwt-1.1</feature>
        <feature>appSecurity-3.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443"/>
    
    <mpMetrics authentication="false"/>  

<!--
    <mpJwt id="jwt"   
        issuer="https://us-south.appid.cloud.ibm.com/oauth/v4/4f1464ff-cd93-439b-aebd-9cdb9ba50e64"
        ignoreApplicationAuthMethod="false"
        jwksUri="https://us-south.appid.cloud.ibm.com/oauth/v4/4f1464ff-cd93-439b-aebd-9cdb9ba50e64/publickeys" />  

    Alternative 1:
    <keyStore id="defaultKeyStore" password="yourPassword" />
    to do: import the public certificate from App ID into this keystore
    "key.jks" is created automatically when the server starts
    issue: how can this be automated so that people don't have to do manual steps like exporting the certificate from a browser

    Alternative 2:
    <keyStore id="defaultKeyStore" password="changeit" location="" />
    this keystore includes already the App ID public key
    to do: define the location of "cacerts" on the openliberty/open-liberty:microProfile2-java8-openj9 image in the location property
    issue: the file should be under lib/security but the security directory doesn't exist
    kubectl exec web-api-v1-545f655f67-n8vcd -c web-api -- ls /opt/java/openjdk/lib
-->
</server>
