apiVersion: extensions/v1beta1
kind: Ingress
metadata:
 name: cloudnative-ingress
 namespace: cloud-native-starter
spec:
 rules:
 - host: cloudnative.#INGRESS
   http:
     paths:
     - path: /
       backend:
         serviceName: web-app
         servicePort: 80