quarkus.swagger-ui.always-include=true
quarkus.swagger-ui.path=/explorer

kafka.bootstrap.servers=KAFKA_BOOTSTRAP_SERVERS

quarkus.datasource.url=vertx-reactive:postgresql://POSTGRES_URL/postgres
quarkus.datasource.username=postgres
quarkus.datasource.password=postgres

custom.in-memory-store=IN_MEMORY_STORE